@use "../../styles/mixin";
@use "../../styles/breakpoints";

:root {
  --nav-background: transparent;
  --nav-background-scrolled: var(--dark-600);
  --nav-item-padding-y: 0.25rem;
  --nav-item-padding-x: 0.5rem;
  --nav-item-color: var(--foreground-600);
  --nav-item-background: transparent;
  --nav-item-color-active: var(--accent-500);
  --nav-item-color-scrolled: var(--light-600);

  --nav-submenu-background: var(--accent-500);
  --nav-submenu-item-color: var(--foreground-600);
  --nav-submenu-item-background: transparent;
  --nav-submenu-item-color-active: var(--accent-500);
  --nav-submenu-item-padding-y: 0.25rem;
  --nav-submenu-item-padding-x: 0.25rem;
}

nav {
  background: var(--nav-background);

  ul {
    margin: 0;

    li {
      list-style-type: none;
      position: relative;

      a,
      button {
        cursor: pointer;
        display: inline-block;
        position: relative;
        z-index: 2;
        background: var(--nav-item-background);
        border: none;
        padding: var(--nav-item-padding-x) var(--nav-item-padding-y);
        color: var(--nav-item-color);
        text-decoration: none;
      }

      &.active,
      &.open {
        --nav-item-color: var(--nav-item-color-active);
      }

      button {
        padding-right: 2rem;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: 0.75rem;
          transform: translateY(-50%);
          @include mixin.triangle(bottom, var(--nav-item-color), 0.375rem);
        }
      }
    }
  }

  .submenu {
    min-width: 100%;
    background: var(--nav-submenu-background);
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: height 0.5s ease;

    &.open {
      height: 0;
      position: relative;
      visibility: visible;
      opacity: 1;
    }

    ul {
      background: var(--nav-submenu-background);

      li {
        a {
          display: block;
          background: var(--nav-submenu-item-background);
          color: var(--nav-submenu-item-color);
          padding: var(--nav-submenu-item-padding-y)
            var(--nav-submenu-item-padding-x);
          white-space: nowrap;
        }

        &.active {
          a {
            color: var(--nav-submenu-item-color-active);
          }
        }
      }
    }
  }
}

@media (width > breakpoints.$md) {
  :root {
    --nav-submenu-item-padding-x: 0.75rem;
  }

  nav {
    width: 100%;

    > ul {
      display: flex;
      margin: 0;

      li {
        flex: 0 0 auto;
        margin: 0;
        position: relative;

        a,
        button {
          margin: 0;
        }

        button {
          &::after {
            top: calc(50% + 0.125rem);
            @include mixin.triangle(bottom, var(--nav-item-color), 0.375rem);
          }
        }

        .submenu {
          flex-direction: column;
          // position: absolute;
          // top: 100%;

          // &.open {
          //   position: absolute;
          // }

          li {
            a,
            button {
              transition: all 0.25s ease;
            }
          }
        }
      }
    }

    &.scrolled {
      --nav-background: var(--nav-background-scrolled);
      --nan-item-color: var(--nav-item-color-scrolled);
    }
  }
}
